Repository boostcampwm-2024/iOS04-PhotoGether, pull requests merged in 2024-11, with the labels that each got.

#9 [FEAT/#8] 프레임과 스티커를 담당하는 커스텀 버튼을 구현하였습니다.
  PhotoGether/DesignSystem/DesignSystem.xcodeproj/project.pbxproj
  PhotoGether/DesignSystem/DesignSystem/PTGGrayButton.swift
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray10.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray20.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray30.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray40.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray50.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray60.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray70.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray80.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray85.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/Gray90.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGColor/PrimaryGreen.colorset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/frameIcon.imageset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/frameIcon.imageset/frameIcon.svg
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/stickerIcon.imageset/Contents.json
  PhotoGether/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/stickerIcon.imageset/stickerIcon.svg
  PhotoGether/DesignSystem/DesignSystem/UIImage+.swift
  PhotoGether/DesignSystem/DesignSystem/Untitled.swift
  PhotoGether/PhotoGether.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: ✨ feat

#11 [Feat/#10] 원형, 사각형 버튼 공통 컴포넌트 추가
  PhotoGether/DesignSystem/DesignSystem.xcodeproj/project.pbxproj
  PhotoGether/DesignSystem/DesignSystem/PTGCircleButton.swift
  PhotoGether/DesignSystem/DesignSystem/PTGPrimaryButton.swift
Labels: ✨ feat

#13 [FEAT/#12] 마이크 버튼과 TapPublisher를 구현했습니다.
  PhotoGether/BaseFeature/BaseFeature.xcodeproj/project.pbxproj
  PhotoGether/BaseFeature/Extension/UIButton+Publisher.swift
  PhotoGether/BaseFeature/Extension/UIControl+Publisher.swift
  PhotoGether/DesignSystem/DesignSystem.xcodeproj/project.pbxproj
  PhotoGether/DesignSystem/DesignSystem/PTGMicButton.swift
Labels: ✨ feat

#23 [FEAT/#22] CI를 진행합니다.
  .github/workflows/CI.yml
Labels: 🧹 chore

#25 [FEAT/#21] FrameImageGenerator를 구현했습니다.
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp1.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp1.imageset/temp1.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp2.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp2.imageset/temp2.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp3.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp3.imageset/temp3.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp4.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp4.imageset/temp4.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGImage.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/Frame/Common/FrameConstants.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/Frame/Common/FrameImageView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/Frame/Common/FrameView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/Frame/DefaultFrame/DefaultFrameImageView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/Frame/DefaultFrame/DefaultFrameView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/FrameImageGenerator.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/FrameViewRenderable.swift
Labels: ✨ feat

#26 [FEAT/#20] 편집 화면에서 사용될 공통 ScrollView를 구현함
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/sampleImage.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/sampleImage.imageset/sampleImage.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/sampleImage.imageset/sampleImage@2x.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/sampleImage.imageset/sampleImage@3x.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGImage.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/CanvasScrollView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoHostBottomView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
Labels: ✨ feat

#28 [Feat/#24] Connection Client Interface를 구현 및 데모 앱을 통해 세션연결 확인
  .gitignore
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain.xcodeproj/project.pbxproj
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/ConnectionClientImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/SignalingClientImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/WebRTCClientImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/ConnectionClient.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/SignalingClient.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/WebRTCClient.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/EditRoomIcon.png
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/PhotoRoomIcon.png
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/ShareRoomIcon.png
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/WaitingRoomViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/Resource/Assets.xcassets/AppIcon.appiconset/WaitRoomIcon.png
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/Resource/Info.plist
Labels: ✨ feat

#32 [FEAT/#27] SharePhotoView UI를 구현합니다.
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoBottomView.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoViewController.swift
Labels: ✨ feat

#30 [CHORE/#29] 설명이 명확하도록 CI yml을 수정합니다.
  .github/workflows/CI.yml
Labels: 🧹 chore

#35 [REFACTOR/#34] BaseViewController의 메소드를 프로토콜로 분리해주었습니다.
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/BaseViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/PhotoRoomViewController.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/WaitingRoomViewController.swift
Labels: ⚙️ refactor

#38 [FEAT/#33] SharePhoto 화면전환 시 필요한 Entity를 구성하였습니다.
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain.xcodeproj/project.pbxproj
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Component/SharePhotoComponent.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/FrameImageGenerator.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoViewController.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoViewModel.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat, 🔧 fix

#39 [FEAT/#36] 스티커 버튼 동작 추가
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGGrayButton.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoHostBottomView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/Rectangle.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat

#42 [FEAT/#1] 참가자 화면 컬렉션 뷰를 구현합니다.
  PhotoGether/PhotoGether.xcodeproj/project.pbxproj
  PhotoGether/PhotoGether.xcworkspace/xcshareddata/swiftpm/Package.resolved
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/Extension/UICollectionViewCell+Identifier.swift
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/Extension/UILabel+SetKern.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/DataSource/ParticipantsCollectionViewDataSource.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/Model/ParticipantsSectionItem.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/View/ParticipantsCollectionViewCell.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/ParticipantsCollectionViewController.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/PhotoRoomViewController.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewModel/Untitled.swift
Labels: ✨ feat

#48 [FEAT/#40] peerConnection을 통해 데이터를 주고받을 수 있도록 합니다.
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/ConnectionClientImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/SignalingClientImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/WebRTCClientImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/ConnectionClient.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/SignalingClient.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/WebRTCClient.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/WaitingRoomViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat

#52 [FEAT/#51] :: HTTP API를 추상화합니다.
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/APIError.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/EndPoint.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/Request.swift
Labels: ✨ feat

#60 [FEAT/#53] 스티커를 추가 기능 및 테스트 코드 구현
  PhotoGether/DomainLayer/PhotoGetherDomain/FetchStickerListUseCaseTests/FetchStickerListUseCaseTests.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain.xcodeproj/project.pbxproj
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain.xcodeproj/xcshareddata/xcschemes/FetchStickerListUseCaseTests.xcscheme
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/UseCaseImpl/FetchStickerListUseCaseImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Repository/ShapeRepository.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/UseCase/FetchStickerListUseCase.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/blackHeart.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/bug.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/cat.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/crown.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/dog.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/lips.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/parkBug.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/racoon.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/redHeart.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/star.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/sunglasses.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Resource/tree.png
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/ShapeRepositoryMock.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/Untitled.swift
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/blackHeart.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/blackHeart.imageset/blackHeart.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/bug.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/bug.imageset/bug.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/cat.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/cat.imageset/cat.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/crown.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/crown.imageset/crown.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/dog.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/dog.imageset/dog.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/lips.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/lips.imageset/lips.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/parkBug.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/parkBug.imageset/parkBug.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/racoon.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/racoon.imageset/racoon.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/redHeart.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/redHeart.imageset/redHeart.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/star.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/star.imageset/star.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/sunglasses.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/sunglasses.imageset/sunglasses.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/tree.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/MockIcon/tree.imageset/tree.svg
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/Rectangle.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomHostViewModelTests/EditPhotoRoomHostViewModelTests.swift
  PhotoGether/PresentationLayer/FeatureTesting/FeatureTesting/FetchStickerListUseCaseMock.swift
Labels: ✨ feat, 🔍 test

#58 [Feat/#44] PhotoRoom 화면을 구현합니다
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/ellipsisIcon.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/ellipsisIcon.imageset/ellipsis.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/filterIcon.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/filterIcon.imageset/wand.and.stars.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/switchIcon.imageset/Change.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/switchIcon.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGImage.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/View/CameraButton.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/View/PhotoRoomBottomView.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/PhotoRoomViewController.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewModel/PhotoRoomViewModel.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewModel/Untitled.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat

#57 [FEAT/#50] WaitingRoom 화면을 구현합니다.
  PhotoGether/BaseFeature/Extension/UIButton+Publisher.swift
  PhotoGether/BaseFeature/Extension/UIControl+Publisher.swift
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/Utils.swift
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGCircleButton.swift
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGMicButton.swift
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGPaddingLabel.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/DataSource/ParticipantsCollectionViewDataSource.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/View/ParticipantsCollectionViewCell.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/ParticipantsCollectionViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/View/WaitingRoomView.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewController/WaitingRoomViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewModel/WaitingRoomViewModel.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/WaitingRoomViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat

#64 [FEAT/#59] EditPhotoRoomGuestView UI 및 스티커 생성 로직 구현
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoGuestBottomView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/Resource/Info.plist
  PhotoGether/PresentationLayer/FeatureTesting/FeatureTesting.xcodeproj/project.pbxproj
Labels: ✨ feat

#63 [Feat/#61] 도메인에 위치했던 클라이언트들을 데이터로 이동시켰습니다
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ConnectionClientImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ConnectionRepositoryImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/DTO/IceCandidate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/DTO/SessionDescription.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/DTO/SignalingMessage.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Delegate/SignalingClientDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Delegate/WebRTCClientDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/SignalingClient.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/WebRTCClient.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/SignalingClientImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/WebRTCClientImpl.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocketClient.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocketClientDelegate.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/CountClientsUseCaseTests/CountClientsUseCaseTests.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain.xcodeproj/project.pbxproj
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/UseCaseImpl/CountClientsUseCaseImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/ConnectionClient.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Model/StickerEntity.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Repository/ConnectionRepository.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/UseCase/CountClientsUseCase.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/ConnectionClientMock.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/ConnectionRepositoryMock.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/CountClientsUseCaseMock.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/FetchStickerListUseCaseMock.swift
  PhotoGether/PhotoGether.xcodeproj/project.pbxproj
  PhotoGether/PhotoGether/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/FeatureTesting/FeatureTesting.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewModel/WaitingRoomViewModel.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat, ⚙️ refactor

#66 [FEAT/#40] :: 방 생성을 하기 위한 소켓 통신 간 데이터 구조 구현
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ConnectionClientImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Delegate/SignalingClientDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Delegate/WebRTCClientDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Extension/Data+toDTO.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/DTO/RequestDTO/RoomRequestDTO.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/DTO/RequestDTO/SignalingRequestDTO.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/DTO/ResponseDTO/CreateRoomResponseDTO.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Delegate/RoomServiceDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Delegate/SignalingServiceDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Delegate/WebRTCServiceDelegate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Message/CreateRoomMessage.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Message/IceCandidate.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Message/SessionDescription.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Message/SignalingMessage.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Service/RoomService.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Service/SignalingService.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Service/WebRTCService.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/SignalingClient.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ServiceImpl/RoomServiceImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ServiceImpl/SignalingServiceImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ServiceImpl/WebRTCServiceImpl.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/Extension/Data+toDTO.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/HTTP/APIError.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/HTTP/EndPoint.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/HTTP/Request.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocket/WebSocketClient.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocket/WebSocketClientDelegate.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocket/WebSocketClientImpl.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocket/WebSocketRequestable.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/WebSocket/WebSocketResponsable.swift
  PhotoGether/PhotoGether/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/FeatureTesting/FeatureTesting.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/DTO/CreateRoomResponseDTO.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/Model/Room.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/Model/RoomManager.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/Model/User.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/routes.swift
Labels: ✨ feat

#73 [FEAT/#70] Week4 Demo
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EventConnection/EventConnectionGuestRepositoryImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EventConnection/EventConnectionHostRepositoryImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ServiceImpl/WebRTCServiceImpl.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/HTTP/Request.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Entity/StickerEntity.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainTesting/ConnectionClientMock.swift
  PhotoGether/PhotoGether.xcodeproj/project.pbxproj
  PhotoGether/PhotoGether/App/SceneDelegate.swift
  PhotoGether/PhotoGether/Resource/Info.plist
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/CanvasScrollView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoHostBottomView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/Resource/Info.plist
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/PhotoRoomViewController.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewModel/PhotoRoomViewModel.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewController/WaitingRoomViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeatureDemo/Resource/Info.plist
Labels: ✨ feat, 🔧 fix, ⚙️ refactor

#75 [FEAT/#74] DiffableDataSource snapshot을 수정할 때 발생하던 경고 문제 수정
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewController/WaitingRoomViewController.swift
Labels: ⚙️ refactor

#76 [DOCS] 리드미를 수정합니다.
  README.md
Labels: 📃 docs

#80 [Feat/#78] 딥링크 접속을 위한 초기 설정
  PhotoGether/PhotoGether/App/SceneDelegate.swift
  PhotoGether/PhotoGether/Resource/Info.plist
  PhotoGether/PhotoGether/Source/URLParser.swift
  PhotoGether/PhotoGether/Source/ViewController.swift
Labels: ✨ feat

#81 [FEAT/#77] 스티커를 선택할 수 있는 기능을 구현합니다.
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EventHub/EventHub.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Entity/EventEntity.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Entity/StickerEntity.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/CanvasScrollView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/View/StickerView.swift
Labels: ✨ feat, ⚙️ refactor

#97 [FEAT/#96] Offer 관련 개발환경 개선
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/Source/OfferTempViewController.swift
Labels: ✨ feat, ⚙️ refactor

#98 [FEAT/#72] 스티커 바텀 시트 추가 및 스티커 선택 추가 기능 구현
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/StickerBottomSheetViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/StickerBottomSheetViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/StickerCollectionView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/StickerCollectionViewCell.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/PhotoRoomViewController.swift
Labels: ✨ feat

#102 [FIX/#100] 스크롤뷰 컨텐츠 센터링 + 줌 문제 해결
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/CanvasScrollView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
Labels: 🔧 fix

#104 [FEAT]/#101 프레임 이벤트 비즈니스 로직 구현
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EventConnection/EventConnectionGuestRepositoryImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EventConnection/EventConnectionHostRepositoryImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EventHub/EventHub.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/UseCaseImpl/ReceiveFrameUseCaseImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/UseCaseImpl/SendFrameToRepositoryUseCaseImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Entity/EventEntity.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Entity/FrameEntity.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Repository/EventConnectionRepository.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/UseCase/ReceiveFrameUseCase.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/UseCase/SendFrameToRepositoryUseCase.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/FrameImageGenerator/FrameImageGenerator.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/PhotoRoomFeature/PhotoRoomFeature/Source/ViewController/PhotoRoomViewController.swift
Labels: ✨ feat, ⚙️ refactor

#106 [FEAT/#105] 비동기 이미지 설정 메소드를 추가합니다.
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/Extension/UIImageView+SetAsyncImage.swift
Labels: ✨ feat

#109 [FEAT/#107] 토스트 메시지를 띄울 수 있는 기능을 추가합니다.
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/Extension/UIViewController+ShowToast.swift
Labels: ✨ feat

#113 [FEAT/#112] 이미지 캐시를 구현하고, 비동기 이미지 설정 메소드에 적용합니다.
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/Extension/UIImageView+SetAsyncImage.swift
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/ImageCache/CacheableImage.swift
  PhotoGether/PresentationLayer/BaseFeature/BaseFeature/ImageCache/ImageCache.swift
Labels: ✨ feat

#111 [FEAT/#108] 프레임 버튼과 이벤트 허브의 비즈니스 로직을 연동합니다
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat, ⚙️ refactor

#114 [FEAT/#103] API 데이터 캐싱
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Disk/CacheManager.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/EmojiDTO.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/LocalShapeDataSourceImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/RemoteShapeDataSourceImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ShapeDataSource.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ShapeRepositoryImpl.swift
  PhotoGether/DataLayer/PhotoGetherNetwork/PhotoGetherNetwork/HTTP/EndPoint.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeatureDemo/App/SceneDelegate.swift
Labels: ✨ feat

#116 [FEAT/#115] 스티커 삭제 구현
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomainInterface/Entity/StickerEntity.swift
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/PTGxmark.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/PTGxmark.imageset/PTGxmark.svg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp10.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp10.imageset/ww2.jpg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp11.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp11.imageset/ee2.jpeg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp12.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp12.imageset/rr2.jpeg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp5.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp5.imageset/qq1.jpg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp6.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp6.imageset/ww1.jpeg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp7.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp7.imageset/ee1.jpeg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp8.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp8.imageset/rr1.png
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp9.imageset/Contents.json
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/DesignSystem.xcassets/PTGIcon/temp9.imageset/qq2.jpg
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/PTGImage.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/CanvasScrollView.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomGuestViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/EditPhotoRoomHostViewModel.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/View/StickerView.swift
Labels: ✨ feat, ⚙️ refactor

#120 [FEAT/#119] Pretendard 폰트 추가
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-Black.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-Bold.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-ExtraBold.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-ExtraLight.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-Light.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-Medium.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-Regular.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-SemiBold.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Fonts/Pretendard-Thin.ttf
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Resource/Info.plist
  PhotoGether/PresentationLayer/DesignSystem/DesignSystem/Source/UIFont+PTGFont.swift
Labels: ✨ feat

#123 [FEAT/#118] SharePhoto의 사진 앱 저장 기능 구현 및 리팩터링
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature.xcodeproj/project.pbxproj
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoViewController.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/SharePhotoViewModel.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/Utility/PhotoLibraryHelper.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeature/Source/Utility/PhotoLibraryPermissionManager.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeatureDemo/App/SceneDelegate.swift
  PhotoGether/PresentationLayer/SharePhotoFeature/SharePhotoFeatureDemo/Resource/Info.plist
Labels: ✨ feat, ⚙️ refactor

#125 [FIX/#122] 이미지 캐시 메서드로 변경 및 바텀 시트 present detent 에러 수정
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/StickerBottomSheetViewController.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/StickerCollectionViewCell.swift
  PhotoGether/PresentationLayer/EditPhotoRoomFeature/EditPhotoRoomFeature/Source/View/StickerView.swift
Labels: 🔧 fix, ⚙️ refactor

#129 [FEAT/#79] 1. WaitingRoomViewController/ViewModel을 리팩토링합니다.
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ConnectionClientImpl.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Message/SessionDescriptionMessage.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/Interface/Service/SignalingService.swift
  PhotoGether/DataLayer/PhotoGetherData/PhotoGetherData/ServiceImpl/SignalingServiceImpl.swift
  PhotoGether/DomainLayer/PhotoGetherDomain/PhotoGetherDomain/UseCaseImpl/GetRemoteVideoUseCaseImpl.swift
  PhotoGether/PhotoGether/App/AppDelegate.swift
  PhotoGether/PhotoGether/App/SceneDelegate.swift
  PhotoGether/PhotoGether/Resource/Info.plist
  PhotoGether/PhotoGether/Source/AppPermissionManager.swift
  PhotoGether/PhotoGether/Source/Secrets.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewController/WaitingRoomViewController.swift
  PhotoGether/PresentationLayer/WaitingRoomFeature/WaitingRoomFeature/Source/ViewModel/WaitingRoomViewModel.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/DTO/Message/SessionDescriptionMessage.swift
  PhotoGetherServer/PhotoGetherServer/Sources/App/Model/RoomManager.swift
Labels: ⚙️ refactor
